* {
  margin: 0;
  padding: 0;
   }
   body {
   font: 14px/1.4 Georgia, Serif;
   }
  #covidtable {
  margin: 12px;
  }
  p {
 margin: 10px 0;
  }
.wrapper{
  width: 300px /* width of your table*/;
  margin:0 auto;
}


/*
Generic Styling, for Desktops/Laptops
*/
table {
  poistion: abosolute;
  border-collapse: collapse;
}
tr:hover td{
  background: #f2c300;
  color: black;
}
tr.selected td {
 background-color: #ffd659;
}
/*header setting*/
th {
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: #e0e0e0;
}
td, th {
  padding: 0 1em .5ex 0;
  border: 1px solid #ccc;
  text-align: left;
}

th.des:after {
    content: "\21E9";
  }

th.aes:after {
    content: "\21E7";
  }
.legend {
      padding: 2px 2px;
      background-color: rgba(255,255,255,0.8);
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      border-radius: 2px;
  }
.legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.8;
  }
  div.legend.leaflet-control br {
      clear: both;
  }
